<footer class="bg-light text-center py-3">
    <p class="mb-0">
        &copy; Pro Sports All Rights Reserved
        <br>
        <small>Customer Support No: +91 9011786979</small>
        <br>
        <small>Customer Support Email: prosports.mh09@gmail.com</small>
    </p>
</footer>