<link rel="stylesheet" href="/css/admin_sign_in.css">

<div class="container">
    <div id="admin_sign_in_form" class="mt-5">
        <h1>Sign In</h1>

        <form action="/admins/create-session" method="POST">
            <div class="form-group">
                <input type="email" name="loginID" class="form-control" placeholder="Your Login ID" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <input type="submit" value="Sign-In" class="btn btn-primary">
        </form>
    </div>
</div>