<link rel="stylesheet" href="/css/admin_sign_up.css">

<div class="container">
    <div id="admin_sign_up_form" class="mt-5">
        <h1>Sign Up</h1>

        <form action="/admins/create" method="POST">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="form-group">
                <input type="text" name="loginID" class="form-control" placeholder="Your Login ID" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="number" name="number" class="form-control" placeholder="Mobile No" required>
            </div>
            <div class="form-group">
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
            </div>
            <div class="form-control">
                <select name="turf">
                    <% for (let i=0; i < turf.length; i++) { %>
                        <option value="<%= turf[i].id %>"> <%= turf[i].name %></option>
                    <% } %>
                </select>
            </div>
            <input type="submit" value="Sign Up" class="btn btn-primary">
        </form>
    </div>
</div>