<link rel="stylesheet" href="/css/admin_sign_in.css">
<div class="container">
    <div id="user_sign_in_form">
        <h1>Sign In</h1>

        <form action="/admins/create-session" method="POST">
            <input type="email" name="loginID" placeholder="Your Login ID" required>
            <input type="password" name="password" placeholder="Password" required>

            <input type="submit" value="Sign-In">
        </form>
    </div>
</div>