<link rel="stylesheet" type="text/css" href="../css/home.css">
<div class="container">
    <h1>Frequently Asked Questions</h1>
    <br>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">How can we get assistance if needed?</div>
        <div class="answer">
            <p>You can call our customer service number anytime.</p>
            <ul>
                <li>Call us on: +91 9011786979</li>
            </ul>
        </div>
    </div>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">Can I book turf for other activities? </div>
        <div class="answer">
            <p>Yes you can but depending on turf poliices varying from turf to turf</p>
            <ul>
                <li>You can book turf for Running.</li>
                <li>You can book turf for Yoga.</li>
                <li>You can book turf for outdoor gym activities.</li>
                <li>You can also book turf for other activities as per your requirements</li>
            </ul>
        </div>
    </div>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">How can I book a turf?</div>
        <div class="answer">
            <p>To book a turf, follow these steps:</p>
            <ol>
                <li>Sign up or log in to your account.</li>
                <li>Search for available turfs based on your location and preferred date and time.</li>
                <li>Select a turf that suits your needs.</li>
                <li>Choose the desired booking duration i.e., date and time.</li>
                <li>Review your booking details and proceed to the payment page.</li>
                <li>Make the payment to confirm your booking.</li>
                <li>You will receive a confirmation email with your booking details.</li>
            </ol>
        </div>
    </div>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">What is host match? How it works?</div>
        <div class="answer">
            <ul>
                <li>
                    Host a match button simply creates a notification to all the public users that you are making a 
                challenge to match with your team at your desired location and time so when anyone's team
                is ready to take your challenge and accept it to match with your team.
                </li>
                <li>
                    Its a friendly match challenge with any team available at your time and your place. Here a turf
                is booked on the name of match hosting team.
                </li>
                <li>
                    ** Its a team match with 9x9 players and not an individual challenge**
                </li>
            </ul>
        </div>
    </div>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">How can I host a match?</div>
        <div class="answer">
            <p>To host a match, follow these steps:</p>
            <ol>
                <li>Sign up or log in to your account.</li>
                <li>Search for available matches based on your location and preferred date and time.</li>
                <li>Or click on 'Host a Match' button</li>
                <li>Select the date and turf that suits your needs.</li>
                <li>The available slots will only be shown if you select the turf</li>
                <li>Choose the desired booking time.</li>
                <li>Review your booking details and proceed to the payment page.</li>
                <li>Make the payment to confirm your booking.</li>
                <li>You will receive a confirmation email with your match details.</li>
                <li>When someone accepts your challenge you will get a notification on email (soon available on sms)</li>
            </ol>
        </div>
    </div>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">What if no one accepts your challenge?</div>
        <div class="answer">
            <ul>
                <li>
                    If no one accepts your challenge you can cancel the bookings 8 hrs before the game starts.
                    You will get your refund in terms of points to book your next turf. 
                </li>
                <li>
                    You can also play a practice match game with your localteam on booked turf.
                </li>
                <li>
                    For any assistance you cal call our customer care no: +91 9011786979.
                </li>
            </ul>
        </div>
    </div>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">What payment methods are accepted?</div>
        <div class="answer">
            <p>We accept the following payment methods:</p>
            <ul>
                <li>Online Payment Wallets (Google Pay, Phone Pay amd Paytm)</li>
            </ul>
        </div>
    </div>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">Can I cancel or reschedule my booking?</div>
        <div class="answer">
            <p>Yes, you can cancel your booking. However, cancellation policies may vary
                depending on the turf provider. Please refer to the specific cancellation and rescheduling terms
                mentioned during the booking process or contact our support team for assistance.</p>
        </div>
    </div>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">If I cancel, how do I get my refund?</div>
        <div class="answer">
            <p>When you cancel the booking a request is carried out to turf provider. When your booking is cancelled before
                8hrs of your scheduled time, we make sure that you get all your booked amount except 5% payment gateway charges.
            </p>
        </div>
    </div>

    <div class="faq-item">
        <div class="question" onclick="toggleAnswer(this)">How do I cancel my booking?</div>
        <div class="answer">
            <p>At the initial stage of this app, you just need to call our customer care no: +91 9011786979 
                with your registered mobile number and mention your booking details.
            </p>
        </div>
    </div>

</div>
<script>
    // JavaScript for FAQ functionality
    function toggleAnswer(element) {
      var answer = element.nextElementSibling;
      answer.style.display = (answer.style.display === "none") ? "block" : "none";
    }
  </script>