<link rel="stylesheet" type="text/css" href="../css/home.css">
<div id="home-container" class="container">
    <section id="feed-matches">
        <h2 class="mb-3">Local Games to Join</h2>
        <%if (locals.user) { %>
            <div id="host-match-container" class="container">
                <div class="card host-match">
                    <a href="/matches" class="card-link">Host a Match</a>
                </div>
                <div class="card host-match">
                    <a href="#" class="card-link">Join a Match</a>
                </div>
            </div>
            <div id="match-list-container">
                <ul class="list-unstyled">
                    <% for (let match of matches) { %>
                        <li class="mb-3">
                            <div id="match-data" class="card">
                                <div class="card-body">
                                    <a href="" class="card-link">
                                        <%=match.user.name%>
                                    </a>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </section>
    <section id="feed-turfs">
        <% if (locals.user) { %>
            <h2 class="mb-3">Available Turfs</h2>
            <div id="turf-list-container">
                <ul class="list-unstyled">
                    <% for (let i of turf) { %>
                        <li class="mb-3">
                            <div id="turf-data" class="card">
                                <div class="card-body">
                                    <span>
                                        <%= turf.logo%>
                                    </span>
                                    <a href="/turf/<%=i.id%>" class="card-link">
                                        <%=i.name%>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
        <% } %>
    </section>

    <section id="ads">

    </section>
</div>
<script src="/js/home.js"></script>