body {
    background: linear-gradient(95deg, #a4f2f2, #8bc78b, #33c933);
}

#feed-matches h2 {
    font-size: 24px;
    color: #333;
}

#host-match-container {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.host-match {
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
}

.host-match a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#match-list-container {
    margin-top: 20px;
}

#match-list-container .card-body {
    padding: 10px;
}

#match-list-container .card-link {
    color: black;
    text-decoration: none;
}

#match-list-container .card-link:hover {
    text-decoration: underline;
}



#feed-turfs {
    margin-bottom: 30px;
}

#feed-turfs h2 {
    font-size: 24px;
    color: #333;
}

#turf-list-container {
    margin-top: 20px;
}

#turf-list-container .card-body {
    padding: 10px;
}

#turf-list-container .card-link {
    color: black;
    text-decoration: none;
}

#turf-list-container .card-link:hover {
    text-decoration: underline;
}

.card {
    background: linear-gradient(60deg, #caeeee, #8bb4c7, #33c9bc);
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
}