body {
    background: linear-gradient(60deg, #a4f2f2, #8bc78b, #33c933);
    margin: 0px;
}

.btn-secondary{
    padding: 2px;
    margin: 4px;
    margin-bottom: 8px;
    width: 48px;
    font-size: 0.7rem;
}

.btn-booked{
    background: linear-gradient(145deg, #f1f2a4, #d1af88, #c96333);
    padding: 2px;
    margin: 4px;
    margin-bottom: 8px;
    font-size: 0.7rem;
    color: black;
    border: none;
    width: 48px;
    outline: none;
}