body {
    background: linear-gradient(95deg, #a4f2f2, #8bc78b, #33c933);
    margin: 0px;
}

.btn-info{
    margin: 5px;
    margin-right: 12px;
    background-color: #42a5f5;
}

.btn-outline-success{
    background-color: white;
    padding: 2px;
    margin: 4px;
    margin-bottom: 8px;
    width: 50px;
    font-size: 0.65rem;
}


.btn-booked{
    background-color: darkgray;
    padding: 3px;
    margin: 4px;
    margin-bottom: 8px;
    font-size: 0.65rem;
    color: black;
    border: none;
    width: 50px;
}